@import "tailwindcss";

@theme {
  /* Font Size */
  --text-12: 0.75rem;
  --text-14: 0.875rem;
  --text-16: 1rem;
  --text-18: 1.125rem;
  --text-20: 1.25rem;
  --text-24: 1.5rem;
  --text-28: 1.75rem;
  --text-32: 2rem;
  --text-36: 2.25rem;
  --text-42: 2.625rem;
  --text-48: 3rem;
  --text-54: 3.375rem;
  --text-60: 3.75rem;
  --text-66: 4.125rem;
  --text-72: 4.5rem;
  --text-84: 5.25rem;
  --text-96: 6rem;
  
}

.btn {
 @apply rounded-md px-3.5 py-2.5 text-sm font-semibold shadow-xs;
}

.btn-primary {
  @apply bg-indigo-600 text-white hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
}

.btn-secondary {
  @apply bg-white text-gray-900 inset-ring inset-ring-gray-300 hover:bg-gray-50;
}