---
import { languages } from "../../i18n/ui";
import { Languages } from '@lucide/astro';
---

<el-dropdown class="inline-block">
  <button class="w-8 h-8 inline-flex justify-center items-center cursor-pointer">
    <Languages size={20} />
  </button>
  <el-menu anchor="bottom end" popover class="w-32 origin-top-right rounded-md bg-white shadow-lg outline-1 outline-black/5 transition transition-discrete [--anchor-gap:--spacing(2)] data-closed:scale-95 data-closed:transform data-closed:opacity-0 data-enter:duration-100 data-enter:ease-out data-leave:duration-75 data-leave:ease-in">
    <div class="py-1">
      {
      Object.entries(languages).map(([lang, label]) => (
        <a
          class="block px-4 py-2 text-sm text-gray-700 focus:bg-gray-100 focus:text-gray-900 focus:outline-hidden"
          href={`/${lang}/`}>{label}</a>
      ))
    }
    </div>
  </el-menu>
</el-dropdown>


