---
import Navigation from '../components/Astro/Navigation.astro';
import { getLangFromUrl } from '../i18n/utils';
import "../styles/global.css";
import { Font } from 'astro:assets';

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Template</title>
	</head>
	<body>
		<Font cssVariable='--font-ibm-plex-serif' preload />
		<Navigation />
		<slot />
	</body>
</html>
